*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/
.idea/
.vscode/
Source/FidelityFX_SDK_1.1.4/

Build/

# Shader build artifacts
*.spv

# Runtime resources (generated/copied)
BlueNoise_LDR_RGBA_128.ktx2
Cubemap/
WaterNormal_n.ktx2
DirtMask.ktx2
ovrd/
